.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  }

.example-full-width {
  width: 100%;
  }
.mdc-card{
  min-width: 50vw;
  background: rgba(255, 255, 255, 0.16);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.1px);
  }
.fav{
  color : red;
  }
